 .card {
     width: 200px;
     height: 200px;
     margin: 10px;
     display: inline-block;
 }

 .front,
 .back {
     padding: 10px;
 }

 .hide {
     display: none
 }

 .pointer {
     cursor: pointer;
 }

 .margin-20 {
     margin-top: 20px;
 }

 .font-size-20 {
     font-size: 20px;
 }